*.json filter=lfs diff=lfs merge=lfs -text
.mac_venv/lib/python3.9/site-packages/torch/lib/libtorch_cpu.dylib filter=lfs diff=lfs merge=lfs -text
storage_au_mac/default__vector_store.json filter=lfs diff=lfs merge=lfs -text
