beautifulsoup4
gguf
huggingface-hub
ipykernel
ipython
ipywidgets
jedi
Jinja2
jupyter-client
jupyter-core
jupyterlab-widgets
keyring
langchain
langchain-core
langsmith
llama-index
llama-cpp-python
llama-index-llms-llama-cpp
llama-index-embeddings-huggingface
marshmallow
matplotlib-inline
more-itertools
mpmath
multidict
mypy-extensions
nltk
numpy
oauthlib
openai
packaging
pandas
Pillow
prompt-toolkit
psutil
pydantic
pydantic-core
python-dotenv
pytz
PyYAML
pyzmq
regex
requests
safetensors
tiktoken
tokenizers
torch
torchaudio
torchvision
tqdm
transformers